* @jmcte @athena-omt
/.github/workflows/ @jmcte @athena-omt @scrappedcode
/.githooks/ @jmcte @athena-omt @scrappedcode
/scripts/ @jmcte @athena-omt @scrappedcode
/project.bootstrap.yaml @jmcte @athena-omt @scrappedcode
/stage1/crates/axiomc/src/ @jmcte @athena-omt @scrappedcode
